<h1><%= @sname %></h1>


<table border="2px">
<tbody>
<% @stations.each do |st| %>

<tr>

<td><%= st.name %></td>
<td><%= st.master %></td>
<td><%= link_to 'Delete', delstation_path(st), method: :delete, data: {confirm: "Вы уверены?"}  %> </td>
</tr>

<% end %>
</tbody>
</table>
<h3><solid><%= link_to 'Добавить новый обьект', newstation_path %></solid></h3>
