
<table border="4", cellspacing="4", rules="all">
 <tbody>
  <% @stationes.each do |st| %>
  <tr>
   <td><%= st.name %></td>
   <td><%= st.master %></td>
   <td><%= st.distance %></td>
   <td><%= link_to 'Delete', delstation_path(st), method: :delete, data: {confirm: "Вы уверены?"} %></td>
 </tr>
<% end %>
</tbody>
</table>
<h3><solid><%= link_to 'Добавить новый обьект', newstation_path %></solid></h3>
