<h1><%= @sname %></h1>


<table border="2px">
<tbody>rails rus destroy
<% @stations.each do |st| %>

<tr>

<td><%= st.name %></td>
<td><%= st.master %></td>
<td><%= link_to 'Delete', station_path(st), method: :delete  %> </td>
</tr>

<% end %>
</tbody>
</table>
<h3><solid><%= link_to 'Добавить новый обьект', 'new_station_path' %></solid></h3>
