<h1>Ввод новой АЗС</h1>
<p>Заполните все поля для создания нового обьекта</p>

 <%= form_for :station, url: '/stations' do |f| %>
      <%= f.text_field :name, :placeholder => 'Наименование обьекта' %>
      <%= f.text_field :master, :placeholder => 'Ответственный мастер АЗС' %>
      <%= f.text_field :distance, :placeholder => 'Расстояние от офиса' %>
      <%= f.select :outcity, options_for_select([1,0]), prompt: "Командировочная" %>
      <%= f.submit "Добавить", :class => "form-btn" %>
    <% end %>