<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @cartridge_supply.model %>
</p>

<p>
  <strong>Count:</strong>
  <%= @cartridge_supply.count %>
</p>

<p>
  <strong>State:</strong>
  <%= @cartridge_supply.state %>
</p>

<p>
  <strong>Date:</strong>
  <%= @cartridge_supply.date %>
</p>

<p>
  <strong>Service:</strong>
  <%= @cartridge_supply.service %>
</p>

<%= link_to 'Edit', edit_cartridge_supply_path(@cartridge_supply) %> |
<%= link_to 'Back', cartridge_supplies_path %>
