

<h1>Список поданных данных ishow</h1>

<table border="3", align="top", cellpadding="30", cellspacing="10">
<tbody>
  <thead>
    <tr>
      <th>------День-------</th>
      <th>------Fuel-------</th>
      <th>------Station----</th>
      <th>------Удалить----</th>
    </tr>  
  </thead>
    <tr>
      <td><%=@day_road_listid.day %></td>
      <td><%= @day_road_listid.fuel %></td>
      <td><%= @stn %></td>
      <td><%= link_to 'Удалить', day_road_list_path, method: :delete, data: { confirm: 'Вы уверены что хотите удалить запись?' } %></td>
    </tr>
  </tbody>
  </table>
<h3><%= link_to 'Добаить новое значение', new_day_road_list_path %></h3>
