<h1>Отчет по реализации</h1>
<table width="" cellpadding="10" cellspacing="10" border="0">
	<tr>	
		<th>Наименоание Азс</th>	
		<th>Аи95</th>	
		<th>Аи92</th>	
		<th>А80</th>	
		<th>Дт</th>	
		<th>Итого топлива</th>
		<th>Газ</th>
		<th>Магазин выручка</th>
		<th>Вип карт на складе</th>
		<th>Вип карт продано</th>
		<th>Дисконтных карт на складе</th>	
		<th>Дисконтных карт продано</th>	
		<th>Мойка выручка</th>	
	</tr>
<% @repdate.each do |t| %>

	<tr>	
	<% @stname = Station.find_by id:t.station %>
		<td align="left" valign="top"><%= @stname.name %></td>	
		<td align="left" valign="top"><%= t.f95 %></td>	
		<td align="left" valign="top"><%= t.f92 %></td> 
		<td align="left" valign="top"><%= t.f80 %></td> 
		<td align="left" valign="top"><%= t.fdt %></td> 
		<td align="left" valign="top"><%= t.allinstation %></td> 
		<td align="left" valign="top"><%= t.fgaz %></td> 
		<td align="left" valign="top"><%= t.magazine %></td> 
		<td align="left" valign="top"><%= t.vipcardonstock %></td> 
		<td align="left" valign="top"><%= t.vipcardtreid %></td> 
		<td align="left" valign="top"><%= t.discountonstock %></td> 
		<td align="left" valign="top"><%= t.discounttreid %></td> 
		<td align="left" valign="top"><%= t.carwasher %></td> 
	</tr>

<% end %>
</table>