





<h1><font color="#2A6496">Отчет по реализации  за  <h3><%= @checkdate - 1  %></h3></font></h1>











<table class="test" width="200" cellpadding="20" cellspacing="40" border="0">
	<tr style="border-bottom: 3px solid #808080;">	
		<th>Наименование Азс</th>	
		<th>Аи95</th>	
		<th>Аи92</th>	
		<th>А80</th>	
		<th>Дт</th>	
		<th>Итого топлива</th>
		<th>Газ</th>
		<th>Магазин выручка</th>
		<th>Вип карт на складе</th>
		<th>Вип карт продано</th>
		<th>Дисконтных карт на складе</th>	
		<th>Дисконтных карт продано</th>	
		<th>Мойка выручка</th>	
	</tr>
<% @repdate.each do |t| %>

	<tr>	
	<% @stname = Station.find_by id:t.station %>
		<td width="150px" align="left" valign="top"><%= @stname.name %></td>	
		<td width="150px" align="left" valign="top"><%= t.f95 %></td>	
		<td width="150px" align="left" valign="top"><%= t.f92 %></td> 
		<td width="150px" align="left" valign="top"><%= t.f80 %></td> 
		<td width="150px" align="left" valign="top"><%= t.fdt %></td> 
		<td width="150px" align="left" valign="top"><%= t.allinstation %></td> 
		<td width="150px" align="left" valign="top"><%= t.fgaz %></td> 
		<td width="150px" align="left" valign="top"><%= t.magazine %></td> 
		<td width="150px" align="left" valign="top"><%= t.vipcardonstock %></td> 
		<td width="150px" align="left" valign="top"><%= t.vipcardtreid %></td> 
		<td width="150px" align="left" valign="top"><%= t.discountonstock %></td> 
		<td width="150px" align="left" valign="top"><%= t.discounttreid %></td> 
		<td width="150px" align="left" valign="top"><%= t.carwasher %></td> 
		
	</tr>

<% end %>
<tr>
<td width="150px" align="left" valign="top">Итого</td>
<td width="150px" align="left" valign="top"><%= @all95 %></td>
<td width="150px" align="left" valign="top"><%= @all92 %></td>
<td width="150px" align="left" valign="top"><%= @all80 %></td>
<td width="150px" align="left" valign="top"><%= @alldt %></td>
<td width="150px" align="left" valign="top"><%= @allfuel %></td>
<td width="150px" align="left" valign="top"><%= @allgaz %></td>
<td width="150px" align="left" valign="top"><%= @allmagazine %></td>
<td width="150px" align="left" valign="top"><***></td>
<td width="150px" align="left" valign="top"><***></td>
<td width="150px" align="left" valign="top"><***></td>
<td width="150px" align="left" valign="top"><***></td>
<td width="150px" align="left" valign="top"><***></td>

</tr>
	


</table>

<h2><%= link_to "Версия для печати", :controller => "reports", :action => "print", :time => @checkdate %></h2>